.login {
  position: relative;
  height: 100%;
  background: url("../images/background_login.jpg"), center no-repeat;
  background-size: cover;
}

.login__background {
  width: 100vw;
  height: 100vh;
}

.login__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login__backgroundLogo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding: 20px;
  cursor: pointer;
}

.login__button {
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border-radius: 5px;
  font-weight: 600;
  border: none;
}

.login__content {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
  color: white;
  padding: 20px;
}

.login__content--header {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.login__content--h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.login__content--h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.login__input {
  margin: 20px;
}

.login__input > form > input {
  padding: 12px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
}

.login__input > form > input::placeholder {
  font-size: 19px;
}

.login__getStartedButton {
  padding: 11.5px 20px 17px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login__getStartedNoEmail {
  padding: 11.5px 20px 17px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #e50914;
  border: none;
  font-weight: 500;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: not-allowed;
}

@media only screen and (max-width: 900px) {
  .login__background {
    height: 110vh;
  }

  .login__gradient {
    height: 110vh;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0,
      rgba(0, 0, 0, 0) 55%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }

  .login__backgroundLogo {
    width: 100px;
    padding: 25px;
  }

  .login__content {
    position: absolute;
    top: 18%;
    padding: 20px;
  }

  .login__content--header {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .login__content--h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .login__content--h3 {
    font-size: 1.1rem;
    padding: 5px;
  }

  .login__input {
    margin: 10px;
  }

  .login__input > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login__input > form > input {
    padding: 10px;
    height: 23px;
    width: 80% !important;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .login__input > form > input::placeholder {
    font-size: 15px;
  }

  .login__getStartedButton {
    padding: 10px 15px 10px 15px !important;
    font-size: 13px;
    width: 50%;
    border-radius: 5px;
  }

  .login__getStartedNoEmail {
    padding: 10px 15px 10px 15px !important;
    font-size: 13px;
    width: 50%;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 670px) {
  .login__input > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login__input > form > input {
    padding: 10px;
    height: 23px;
    width: 80% !important;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 13px;
  }

  .login__input > form > input::placeholder {
    font-size: 13px;
  }

  .login__getStartedButton {
    padding: 10px 15px 10px 15px !important;
    font-size: 13px;
    width: 50%;
    border-radius: 5px;
  }

  .login__getStartedNoEmail {
    padding: 10px 15px 10px 15px !important;
    font-size: 13px;
    width: 50%;
    border-radius: 5px;
  }
}
